@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@(ViewData["titulo"] ?? Model.Value("titulo") ?? "Título por defecto")</title>
    <meta name="description" content="@(ViewData["descripcion"] ?? Model.Value("metaDescription"))">
</head>
<body>
    <header>
        <h1>@(ViewData["titulo"] ?? Model.Value("titulo"))</h1>
		<h1>@(ViewData["titulo2"] ?? Model.Value("titulo2"))</h1>
        @if(ViewData["subtitulo"] != null)
        {
            <p>@ViewData["subtitulo"]</p>
        }
    </header>
    
    <main>
        @RenderBody()
    </main>
    
    <footer>
        @(ViewData["piePersonalizado"] ?? "Footer por defecto")
    </footer>
</body>
</html>