@using UnBosqueParaJuan.Controllers
@using Umbraco.Cms.Web.Common.PublishedModels
@model UnBosqueParaJuan.Models.FormRegistroSiembra

@if (TempData["success"] == null)
{
    using (Html.BeginUmbracoForm<FormRegistroSiembraController>("FormRegistroSiembra", new { id = "Registro", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="row form-row">
            <div class="form-group col-12">
                <div class="invalid-feedback">
                    <div id="status">@Html.ValidationMessage("")</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="Nombre" class="required">Nombre completo</label>
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", placeholder = "Ingrese el nombre" })
                <div class="invalid-feedback">
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="Email" class="required">Correo electrónico</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "email form-control", placeholder = "Ingrese el correo electrónico", type = "email", autocomplete = "off" })
                <div class="invalid-feedback">
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="Fecha<" class="required">Fecha</label>
                @Html.TextBoxFor(model => model.Fecha, new { @class = "form-control", placeholder = "Recuerda registrar solamente siembras realizadas después de Octubre 15 de 2017", type = "date" })
                <div class="invalid-feedback">
                    @Html.ValidationMessageFor(model => model.Fecha)
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="Lugar" class="required">Lugar de la siembra</label>
                @Html.TextBoxFor(model => model.Lugar, new { @class = "form-control", placeholder = "Ingrese el lugar" })
                <div class="invalid-feedback">
                    @Html.ValidationMessageFor(model => model.Lugar)
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="Numero_Arboles" class="required">Número de árboles</label>
                @Html.TextBoxFor(model => model.Numero_Arboles, new { @class = "form-control", placeholder = "Ingrese el número de árboles", type = "number", min = 1, max = 10000 })
                <div class="invalid-feedback">
                    @Html.ValidationMessageFor(model => model.Numero_Arboles)
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="Especies" class="required">Especies</label>
                @Html.TextBoxFor(model => model.Especies, new { @class = "form-control", placeholder = "Ingrese especies" })
                <div class="invalid-feedback">
                    @Html.ValidationMessageFor(model => model.Especies)
                </div>
            </div>

            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn button-slider shadow btn-secondary col-4 p-2 m-3" id="btn-enviarAtencion">Registrar siembra<i class="icon-send-button"></i></button>
        </div>
    }
}
else
{
    <div id="send-message" class="centered">
        <div class="row">
            <div class="col-12">
                <h2>Su siembra ha sido registrada correctamente, UnbosqueparaJuan y la tierra te lo agradecen </h2>
                <div class="row justify-content-center align-items-center">
                    <a class="btn btn button-slider shadow btn-secondary col-4 p-2 m-3" href="."><span>Registrar otra siembra</span></a>
                </div>
            </div>
        </div>
    </div>
}
